
/////////////////@at-root

#btnAddProduct{
    float: left;
     margin-left: 0.52vw;
     background-color: rgba(255, 85, 0, 0.8);
  }
  #Issue{
    display: flex;
  }
  #pc-card{
    width: 100%;
     padding: 5px;
    border-left: solid 2px rgba(255, 85, 0, 0.8);
  }
  
  #btnAddProduct{
    margin-left: auto;
  }
  #pc-card{
   margin-top: 5px;
  }
  
  